<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pojangapp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".account.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <data
                    android:host="oauth"
                    android:scheme="kakaod63930f43afa81ed34dc0441011b552f" />
            </intent-filter>
        </activity>
        <activity android:name=".storedetail.StoreDetailActivity" />
        <activity
            android:name=".main.SplashActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".account.SignupActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen" />
        <activity android:name=".main.MenuActivity" />
        <activity android:name=".main.MainActivity" />
        <activity android:name=".search.SearchActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="d63930f43afa81ed34dc0441011b552f" />
        
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

</manifest>